<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="icon" href="/assets/images/favicon.ico" sizes="any">
<link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg">
<link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png">

{% if page.use_math %}
  {% include mathjax_support.html %}
{% endif %}

{% assign description = site.meta_description %}
<meta name="description" content="{{ description }}"> 
<!-- end custom head snippets -->
