---
layout: archive
---

{{ content }}

{%- assign cat_max = 0 -%}
{%- for category in site.categories -%}{%- if category[1].size > cat_max -%}{%- assign cat_max = category[1].size -%}{%- endif -%}{%- endfor -%}
{%- for i in (1..cat_max) reversed -%}
  {%- for category in site.categories -%}
    {%- if category[1].size == i -%}
      {%- assign cslug = category[0] | slugify -%}
      <section class="rd-group" id="{{ cslug }}">
        <h2 class="rd-group__title"><a href="{{ '/categories/' | append: cslug | append: '/' | relative_url }}">{{ category[0] }}</a><span>{{ i }}</span></h2>
        <ol class="rd-list">
          {%- for post in category.last -%}{%- unless post.hidden -%}{% include rd-post-item.html post=post %}{%- endunless -%}{%- endfor -%}
        </ol>
      </section>
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
