---
layout: default
---

{% include rd-top.html kind="home" %}

<div class="rd-body{% if page.sidebar_categories == false %} rd-body--solo{% endif %}" id="posts">
  {% include rd-sidebar.html %}

  <main id="main" class="rd-main rd-main--home">
    {{ content }}

    {%- if paginator -%}{%- assign posts = paginator.posts -%}{%- else -%}{%- assign posts = site.posts -%}{%- endif %}
    <ol class="rd-list">
      {%- for post in posts -%}
        {%- unless post.hidden -%}{% include rd-post-item.html post=post %}{%- endunless -%}
      {%- endfor -%}
    </ol>

    {% include rd-pagination.html %}
  </main>
</div>
