---
layout: archive
---

{{ content }}

{%- assign tags_max = 0 -%}
{%- for tag in site.tags -%}{%- if tag[1].size > tags_max -%}{%- assign tags_max = tag[1].size -%}{%- endif -%}{%- endfor -%}

<nav class="rd-chips rd-chips--tags" aria-label="태그">
  {%- for i in (1..tags_max) reversed -%}
    {%- for tag in site.tags -%}
      {%- if tag[1].size == i -%}<a class="rd-chip" href="#{{ tag[0] | slugify }}">#{{ tag[0] }}<b>{{ i }}</b></a>{%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
</nav>

{%- for i in (1..tags_max) reversed -%}
  {%- for tag in site.tags -%}
    {%- if tag[1].size == i -%}
      <section class="rd-group" id="{{ tag[0] | slugify }}">
        <h2 class="rd-group__title">#{{ tag[0] }}<span>{{ i }}</span></h2>
        <ol class="rd-list">
          {%- for post in tag.last -%}{%- unless post.hidden -%}{% include rd-post-item.html post=post %}{%- endunless -%}{%- endfor -%}
        </ol>
      </section>
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
